 <div class="center jumbotron">
  <h1>Bienvenu sur le site de Skippy</h1>
  <h3>
    Sur ce site tu peux trouver une totale liberté de pensée cosmique vers un nouvel âge reminiscent!
  </h3>
  <%= link_to 'Connecte toi', login_path, class: "btn btn-lg btn-primary" %>

  <%= link_to 'Enregistre toi', signup_path, class: "btn btn-lg btn-primary" %><br><br>

  <h5>"Tout bien que tu detiens est un souci qui te retiens et Skippy est la pour nous hoter tout nos soucis..."</h5>
</div>