<h2><%= @users.email %></h2><br>
<h1>Cette page est pour toi </h1>
<p>Cette page contient un lien vers la connaissance cosmique absolut</p><br>
<p>Le <a href="https://www.youtube.com/watch?v=DtKEQ0SZLv4">Christ cosmique</a> va tout t'expliquer</p><br>
<p>(Sinon la réponse à la question de l'univers est 42)</p><br>

