<footer class="footer">
  
  <nav>
    <ul>
            <li><a href="http://op-spe-cdn.20mn.fr/magazine/wp-content/uploads/sites/78/2014/12/bebe-crise-de-nerf-645x400.jpg">A bout</a></li>
      <li><a href="https://www.youtube.com/watch?v=cUdcEkO7ro0">Contact</a></li>

    </ul>
  </nav>
</footer>

